html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: in;
	vertical-align: baseline;
}


.triple-carousel-container-header{
	width: 100%;
	height: 200px;
	background-color: #EBEBEB;
}

.triple-carousel-container{
    width: 100%;
    height: 880px;
    background: #EBEBEB;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* setengah lingkaran di background */

.half-circle{
	width: 1000px;
	height: 1000px;
	border-radius: 1000px 1000px 0px 0px;
	background-color: #C4C4C4;
}

.gallery {
  width: 100%;
  height: 100%;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.gallery-item {
	top: 50px;
	background-color:#80A326;
  height: 550px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 150px;
  z-index: 0;
}

.gallery-item-1 {
	display: none;
  left: 25%;
  opacity: .4;
  transform: translateX(-50%);
}

/* yang di kiri dan kanan */
.gallery-item-2,
.gallery-item-4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	column-gap: 0px;
	top : 100px;
	background-color:#80A326;
  height: 500 px;
  opacity: 1; 
  width: 350px;
  z-index: 1;
  border-radius: 40px;
}




.gallery-item-2{
	margin-left: -7.5%;
}

.gallery-item-4{
	margin-left: 7.5%;
}


.gallery-item-2 {
  left: 10%;
  transform: translateX(-50%);
}

/* yang ditengah */
.gallery-item-3 {
	flex-direction: column;
	display: flex;
	align-items: center;
	gap: 10px;
	background-color:#4F6B07;
	height: 650px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  z-index: 2;
  border-radius: 40px;
}



.galerry-title h1{
	font-size: 50px;
	color: white;
	font-family: Open Sans , sans-serif;
	font-weight: 700;
	line-height: 74px;

}
.galerry-item-listbox{
	width: 85%;
	height: 65%;
	background:linear-gradient(180deg, #80A326 -76.86%, rgba(170, 216, 52, 0) 77.56%); ;
	border-radius: 40px;
	display: flex;
	align-items: center;

	
}

.gallery-item-2 .galerry-item-listbox,
.gallery-item-4 .galerry-item-listbox{
	background-color: #80A326;
	filter: drop-shadow(0px -10px 39px rgba(0, 0, 0, 0.25));
	border-radius: 25px;
	display: flex;
	align-items: center;

}

.galerry-list li{
	list-style-type: disc;
	font-size: 30px;
	margin-left: 50px;
	line-height: 60px;
	font-family: Open Sans , sans-serif;
	font-weight: 400;
	color:#EDFEA0 ;
}


.galerry-purchase-button{
	width: 75%;
	height: 15%;
	background-color: #ECFE99;
	border-radius: 20px;
	margin-bottom: 15px;
	box-shadow: -11px 11px 22px rgba(90, 97, 57, 0.2), 11px -11px 22px rgba(90, 97, 57, 0.2), -11px -11px 22px rgba(255, 255, 185, 0.9), 11px 11px 28px rgba(90, 97, 57, 0.9), inset 1px 1px 2px rgba(255, 255, 185, 0.3), inset -1px -1px 2px rgba(90, 97, 57, 0.5);
	color: #000000;
	font-size: 25px;
	font-family: Open Sans, sans-serif;
	letter-spacing: 5px;
	font-weight: 500px;
}


.gallery-item-2 .galerry-purchase-button,
.gallery-item-4 .galerry-purchase-button{
	width: 55%;
	height: 3%;
	font-size: 0px;
	box-shadow: 0px;

}
.galerry-image{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.galerry-image img{ /* ukuran max */
	max-width: 350px;
	max-height: 500px;
	height: auto;
	width: auto;
	margin-top: -300px;
}



.gallery-item-2 .galerry-image img,
.gallery-item-4 .galerry-image img{
	margin-top: -150px;
}



.gallery-item-4 {
	background-color:#80A326;
  left: 90%;
  transform: translateX(-50%);
}

.gallery-item-2 img,
.gallery-item-4 img {
	max-height: 350px;
	max-width: 200px;
	width: auto;
	height: auto;
}

.gallery-item-5 {
	display: none;
  left: 85%;
  opacity: .4;
  transform: translateX(-50%);
}
 /* galerry item stop here */
.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.gallery-controls button {
  background-color:  whitesmokei	;
  font-size: 0px;
  text-transform: capitalize;
}

.gallery-controls button:focus {
  outline: none;
}


.gallery-controls-previous {
	border: none;
  position: absolute;
}

.gallery-controls-previous::before {
	color: #4F6B07;
  border: solid #000;
  border-width: 0 5px 5px 0;
  content: '';
  height: 45px;
  left: -700px;
  padding: 2px;
  position: absolute;
  top: 350px;
  transform: rotate(135deg) ;
  transition: left 0.15s ease-in-out;
  width: 45px;
}


.gallery-controls-next {
  position: absolute;
  border: none;
}
.gallery-controls-next::before {
	color: #4F6B07;
  border: solid #000;
  border-width: 0 5px 5px 0;
  content: '';
  height: 45px;
  padding: 2px;
  position: absolute;
  right: -700px;
  top: 350px;
  transform: rotate(-45deg) ;
  transition: right 0.15s ease-in-out;
  width: 45px;
}

.gallery-controls-next:hover::before {
	color: darkblue;

}

.gallery-controls-previous:hover::before {
	color: darkblue;

}



.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}

/* -------------- */
.carousel-header{
	width: 100%;
	height: 200px;
	background-color: black;
	display: flex;
}

.carousel-header-left{
	width: 50%;
	height: 200px;
	background-color: #D1E18B;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.carousel-header-left h1{
	margin-top: 25px;
   	color: #4F6B07;
    font-family: Open Sans,sans-serif;
    font-weight: 800;
    font-size: 55px;
    line-height: 55px;
    margin-left: 25px;
}

.carousel-header-left h3{
	color: #4F6B07;
    font-family: Open Sans,sans-serif ;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    margin-left:25px;
}

.carousel-header-right{
	width: 50%;
	height: 200px;
	background-color: #D1E18B;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap:0;


}

.header-liner{
   margin-top: 80px;
   width:768px;
   height:6px;
   background:#4F6B07;
   border-radius: 0px 50px 50px 0px;

}


.carousel-container{
	background-color: #D1E18B;
	width: 100%;
	height: 880px;
	display: flex;
	align-items: center;
}

.carousel-object{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	height: 87%;
	width: 40%;
	border-radius: 50px;
	margin: auto;
}

.bi-arrow-left-circle,.bi-arrow-right-circle{
	font-size: 100px;
	color: #4F6B07;
	margin-bottom: 200px;
}

.bi-arrow-left-circle{
	margin-left: 150px;
}

.bi-arrow-right-circle{
	margin-right: 150px;
}

.carousel-image{
	text-align: center;
	display: flex;
}

.carousel-image img{
	max-width: 350px;
	max-height: 589px;
	height: auto;

}

.carousel-title h1{
    color: #324403;
    font-family: Open Sans, sans-serif;
    text-align: left;
    font-weight:700;
    font-size: 50px;
    line-height: 74px;

}

.carousel-subtitle p{
	color: #324403;
    font-family: Open Sans, sans-serif ;
    text-align: left;
    font-weight:400;
    font-size: 25px;
    line-height: 37px;
}

.link-button{
	text-align: center;
    background-color:#324403;
    color: whitesmoke;
    border-radius: 50px;
    width: 70%;
    height: 70px;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: none;

}

.carousel-pricing h2{
	font-size: 35px;
	font-weight: 500;
	font-family: Open sans, sans-serif;

}



/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides-1,.mySlides-2,.mySlides-3,.mySlides-4 {
  display: none;
}

/* Next & previous buttons */
.bi-chevron-right, .bi-chevron-left {
  color: #4F6B07;
  font-weight: bold;
  font-size: 80px;
  transition: 0.6s ease;
  user-select: none;
  text-align: center;
  margin-bottom: 500px;
  cursor: pointer;
  position: absolute;
  top: 45%;
}

.bi-chevron-right {
	right: -35%
}

.bi-chevron-left {
	left: -35%
}





.active, .dot:hover {
  background-color: #D1E18B;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* media quarry */
/*desktop tapi layarnya kecil :v */
@media only screen and (max-width: 1440px) and (min-width: 850px){




.carousel-header{
	width: 100%;
	height: 150px;
	background-color: black;
	display: flex;
}

.carousel-header-left{
	width: 100%;
	height: 150px;
	background-color: #D1E18B;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel-header-left h1{
	margin-top: 25px;
   	color: #4F6B07;
   font-family: Open Sans,sans-serif;
   font-weight: 700;
   font-size: 55px;
   line-height: 55px;
}

.carousel-header-left h3{
	color: #4F6B07;
   font-family: Open Sans,sans-serif ;
   font-weight: 700;
   font-size: 28px;
   line-height: 30px;
}

.carousel-header-right{
	width: 0%;
	height: 0px;
	background-color: #D1E18B;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.header-liner{
   margin-top: 0px;
   width:0px;
   height:0px;
   background:#4F6B07;
   border-radius: 0px 0px 0px 0px;

}

.carousel-container{
	background-color: #D1E18B;
	width: 100%;
	height: 880px;
	display: flex;
	align-items: flex-start;
}

.carousel-object{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	height: 87%;
	width: 50%;
	border-radius: 50px;
	margin: auto;
}

.bi-arrow-left-circle,.bi-arrow-right-circle{
	font-size: 75px;
	color: #4F6B07;
	margin-bottom: 550px;
}

.bi-arrow-left-circle{
	margin-left: 130px;
}

.bi-arrow-right-circle{
	margin-right: 130px;
}


.carousel-image img{
	max-height: 200px;
	max-height: 300px;
	height: auto;
	width: auto;
}

/* Next & previous buttons */
.bi-chevron-right, .bi-chevron-left {
  color: #4F6B07;
  font-weight: bold;
  font-size: 45px;
  transition: 0.6s ease;
  user-select: none;
  text-align: center;
  margin-bottom: 500px;
  cursor: pointer;
  position: absolute;
  top: 40%;
}

.bi-chevron-right {
	right: -50%
}

.bi-chevron-left {
	left: -50%
}

}



/* tablet */
@media only screen and (max-width: 850px) and (min-width: 500px){



.carousel-header{
	width: 100%;
	height: 150px;
	background-color: black;
	display: flex;
}

.carousel-header-left{
	width: 100%;
	height: 150px;
	background-color: #D1E18B;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel-header-left h1{
	margin-top: 25px;
   	color: #4F6B07;
   font-family: Open Sans,sans-serif;
   font-weight: 700;
   font-size: 55px;
   line-height: 55px;
}

.carousel-header-left h3{
	color: #4F6B07;
   font-family: Open Sans,sans-serif ;
   font-weight: 700;
   font-size: 28px;
   line-height: 30px;
}

.carousel-header-right{
	width: 0%;
	height: 0px;
	background-color: #D1E18B;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.header-liner{
   margin-top: 0px;
   width:0px;
   height:0px;
   background:#4F6B07;
   border-radius: 0px 0px 0px 0px;

}

.carousel-container{
	background-color: #D1E18B;
	width: 100%;
	height: 880px;
	display: flex;
	align-items: flex-start;
}

.carousel-object{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	height: 87%;
	width: 60%;
	border-radius: 50px;
	margin: auto;
}


.bi-arrow-left-circle,.bi-arrow-right-circle{
	font-size: 75px;
	color: #4F6B07;
	margin-bottom: 550px;
}

.bi-arrow-left-circle{
	margin-left: 80px;
}

.bi-arrow-right-circle{
	margin-right: 80px;
}

.carousel-image img{
	max-height: 200px;
	max-height: 300px;
	height: auto;
	width: auto;
}

/* Next & previous buttons */
.bi-chevron-right, .bi-chevron-left {
  color: #4F6B07;
  font-weight: bold;
  font-size: 45px;
  transition: 0.6s ease;
  user-select: none;
  text-align: center;
  margin-bottom: 500px;
  cursor: pointer;
  position: absolute;
  top: 40%;
}

.bi-chevron-right {
	right: -58%
}

.bi-chevron-left {
	left: -58%
}


}

/* tablet khusus arrow carrousel mini aja */
@media only screen and (max-width: 850px) and (min-width: 500px){
.bi-arrow-left-circle{
	margin-left: 40px;
}

.bi-arrow-right-circle{
	margin-right: 40px;
}

.bi-chevron-right {
	right: -50%
}

.bi-chevron-left {
	left: -50%
}
}

/* hp */
@media only screen and (max-width: 550px) and (min-width: 300px)
{

.carousel-header{
	width: 100%;
	height: 200px;
	background-color: black;
	display: flex;
}

.carousel-header-left{
	width: 100%;
	height: 200px;
	background-color: #D1E18B;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel-header-left h1{
	margin-top: 25px;
   	color: #4F6B07;
   font-family: Open Sans,sans-serif;
   font-weight: 700;
   font-size: 45px;
   line-height: 55px;
}

.carousel-header-left h3{
	color: #4F6B07;
   font-family: Open Sans,sans-serif ;
   font-weight: 700;
   font-size: 28px;
   line-height: 30px;
}

.carousel-header-right{
	width: 0%;
	height: 0px;
	background-color: #D1E18B;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.header-liner{
   margin-top: 0px;
   width:0px;
   height:0px;
   background:#4F6B07;
   border-radius: 0px 0px 0px 0px;

}

.carousel-container{
	background-color: #D1E18B;
	width: 100%;
	height: 880px;
	display: flex;
	align-items: flex-start;
}

.carousel-object{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	height: 87%;
	width: 80%;
	border-radius: 50px;
	margin: auto;
}


.bi-arrow-left-circle,.bi-arrow-right-circle{
	font-size: 45px;
	color: #4F6B07;
	margin-bottom: 565px;
}

.bi-arrow-left-circle{
	margin-left: -25px;
}

.bi-arrow-right-circle{
	margin-right: -25px;
}

.carousel-image img{
	max-height: 200px;
	max-height: 300px;
	height: auto;
	width: auto;
}

/* Next & previous buttons */
.bi-chevron-right, .bi-chevron-left {
  color: #4F6B07;
  font-weight: bold;
  font-size: 45px;
  transition: 0.6s ease;
  user-select: none;
  text-align: center;
  margin-bottom: 500px;
  cursor: pointer;
  position: absolute;
  top: 40%;
}

.bi-chevron-right {
	right: -30%
}

.bi-chevron-left {
	left: -30%
}
.carousel-title h1{
    color: #324403;
    font-family: Open Sans, sans-serif;
    text-align: left;
    font-weight:700;
    font-size: 40px;
    line-height: 74px;

}

.carousel-subtitle p{
	color: #324403;
    font-family: Open Sans, sans-serif ;
    text-align: left;
    font-weight:400;
    font-size: 20px;
    line-height: 37px;
}

.link-button{
	text-align: center;
    background-color:#324403;
    color: whitesmoke;
    border-radius: 50px;
    width: 70%;
    height: 70px;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: none;

}

.carousel-pricing h2{
	font-size: 35px;
	font-weight: 500;
	font-family: Open sans, sans-serif;

}

}
