@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
	top: 0;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: black;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Open Sans", sans-serif;
	vertical-align: baseline;
	color: 	black;
}

.navbar-scrolled{
  display: none;
}

@font-face {
    font-family: Gobold;
    src: url("font/Goboldbold.otf") format("opentype");
}

.footer {
	width: 	100%;
  height: 280px;
  background-image: url("/assets/about/img/footer-background.png");
  background-color: #bfce79;
  color: #656e3d;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* trackbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(231, 216, 216);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #97a35f;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e2eeab;
}

.carousel-inner, .carouselExampleControls,.carouselExampleSlidesOnly,.carousel.slide{
	min-height: 768px;
	max-width: 1920px;
	max-height: 980px;
	width: 100vw;
	height: 100vh;
}
.section-1{
	min-height: 768px;
	max-width: 1920px;
	max-height: 1080px;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.section-2{
	min-height: 768px;
	max-width: 1920px;
	max-height: 1080px;
	width: 100vw;
	height: 100vh;
	background-image: url('https://i.imgur.com/epM4YY1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.section-3{
	min-height: 768px;
	max-width: 1920px;
	max-height: 1080px;
	width: 100vw;
	height: 100vh;
  background: #FFF;

}

.section-4{
	min-height: 768px;
	max-width: 1920px;
	max-height: none;
	width: 100vw;
	height: auto;
	background-color: #FFFFFF;
	display: 	flex	;
	align-items: 	center	;
	flex-direction: 	column	;

}


.section-1-left{ 
	background: linear-gradient(89.96deg, #ECCB75 3.21%, #BFCE79 47.11%, #92CD63 74.57%);
	min-height: 930px;
  height: 100vh;
  width: 50vw;
  max-width: 50vw;
  max-height: 1080px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-1-left-bottom{
	width: 100%;
	height: 85%;
	display: flex;
	flex-direction: 	column	;
	align-items: flex-start			;
}

.main-text	{
	margin-top: 	20%;
}
.main-text h1,.main-text h2,.main-text h3,.main-text h4{
	text-align: 	left	;
	font-size: 	55px;
	font-family: "Open Sans", sans-serif;
	margin-left: 100px;
	margin-right: 	150px;
	line-height: 	70px;
}

.main-text	h2{
	font-weight: 	700;
}

.main-text h3{
	font-size: 	25px;
	font-weight: 	500;
}

.main-text	h4{
	margin-top: 	100px;
	font-size: 	25px;
}

.more-info button{
	width: 100%;
	height: 35%;
	background-color: #4F6B07;
	border-radius: 50px;
	margin-bottom: 15px;
	box-shadow: -8px 8px 16px rgba(32, 43, 3, 0.2), 8px -8px 16px rgba(32, 43, 3, 0.2), -8px -8px 16px rgba(126, 171, 11, 0.9), 8px 8px 20px rgba(32, 43, 3, 0.9), inset 1px 1px 2px rgba(126, 171, 11, 0.3), inset -1px -1px 2px rgba(32, 43, 3, 0.5);	color: #000000;
	font-size: 25px;
	color: 	white;
	font-family:"Open Sans", sans-serif;
	font-weight: 500px;
	margin-top: 	50px;
	margin-left: 100px;
}

.section-1-right{
	min-height: 930px;
	background-color: #FFFFFF;
	height: 100vh;
	width: 50vw;
  max-width: 50vw;
  max-height: 1080px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-1-left-bottom-button{
	margin-top: 100px;
	height: 20%;
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 20px;
	align-self: center;
}

.section-1-left-bottom-button p{

	font-size: 45px;
	font-weight: lighter;
	font-family:"Open Sans", sans-serif;
	text-align: left;


}
	
.section-1-left-bottom-button a{
	font-size: 50px;
	text-align: center;
}

.section-1-left a:hover{
	color: black;
	opacity: 0.6;
}




.section-1-right-top{
	width: 30%;
	height: 10%;
	flex-direction: column;
	align-self: flex-end;
}

.section-1-right-top img{
	max-width: 100%;
	max-height: 100%;
}

.section-1-right-bottom{
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.section-1-right-bottom img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
/*section 2 starts here */



}

.big-circle{
	width: 210px;
	height: 210px;
	border-radius: 100px;
	background-color: #BFCE79;
}
.triple-carousel-container-header{
	width: 100vw;
	height: 280px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1920px;
	justify-content: center;
}


.triple-carousel-container-header h1{
	margin-top: 10px;
	font-size: 65px;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
}

.triple-carousel-container-header h2{
	font-size: 25px;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}


/* -------------- */
.carousel-header{
	width: 100vw;
	height: 150px;
	background-color:#FFFFFF;
	display: flex;
	max-width: 1920px;
}




.instagram-box{
	height: 95%;
	width: 	70%;
	margin-bottom: 50px;
	background: #FFFFFF;
	border: solid transparent;
	border-width: 5px;
	border-image: linear-gradient(45deg,#ECCB75,#BFCE79,#92CD63);
	border-image-slice: 1;

}


.item{
	display: flex;
	width: 380px;
	height: 760px;
	background-color: gray;
	margin: auto;
	flex-direction: column;
	border-width: 10px;
	border-radius: 25px;

}

.item img{
	max-height: 250px;
	max-width: 250px;
	align-self: center;
}

.item h1 , .item h2{
	font-family: "Open Sans", sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: black;
	text-align: center;
}

.item h2{
	font-weight: 400;
	font-size: 30px;
	text-align: center;
}
.item-box{
	height: 400px;
	width: 95%;
	background-color: #fff;
	align-self: center;
	border: solid transparent;
	border-width: 5px;
	border-image: linear-gradient(45deg,#ECCB75,#BFCE79,#92CD63);
	border-image-slice: 1;
	border-radius: 110px;
	display: flex;
	flex-direction: column;
}

.item-box-text{
	align-self: center;
	width: 90%;
	height: 70%;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row;
	gap: 1px;
	justify-content: center;
}

.item-box-text li{
	margin-top: 10px;
	list-style: none;
	font-size: 35px;
	font-family: "Open Sans", sans-serif;
	font-weight: 550;
}

.item-box-text li::before{
	content: '';
  display: inline-block;
  height: 43px;
  width: 43px;
  background-image: url(https://i.imgur.com/Uo8YU2y.png);
  margin-right: 10px;
}

.owl-carousel{
  display: flex !important;
  justify-content: center;
  flex-direction: row;
}

.item-box-button{
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
}

.item-box-button p{
 font-size: 45px;
 font-family: "Open Sans", sans-serif;
 text-align: center;
}

.item-box-button a{
	font-size: 45px;
}

.item-box-button a:hover{
	color: darkblue;
	opacity: 0.6;
	margin-left: 10px;
}



.owl-nav{
	position: absolute;
	top: 220px;
	width: 100%;
}

.owl-prev img{
	margin-right: 44vw;
	height: 60px;
	width: 60px;
}

.owl-next img{
	margin-left: 44vw;
	height: 60px;
	width: 60px;
}

.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover{
	background: none !important;
	outline: none !important;
	opacity: 0.5;
	
}

.owl-nav .owl-prev, .owl-nav .owl-next{
	outline: none;
	opacity: 0.8;
	transition: all .5s ease;
}
